APP_NAME="Shine Education Bali"
APP_ENV=local
APP_KEY=base64:A1BHCglGqAE+w1EHpr9F2vmepG6hXF0NQruIdnm6zk4=
APP_DEBUG=true
APP_URL=https://api.shineeducationbali.test
ASSET_URL=https://api.shineeducationbali.test

# URL of the frontend app (for password reset links, etc.). Use https://app.shineeducationbali.com in production.
FRONTEND_URL=https://app.shineeducationbali.com

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=shineedu
DB_USERNAME=shineedu
DB_PASSWORD=shineedu

SESSION_DRIVER=database
SESSION_LIFETIME=1440
SANCTUM_EXPIRATION=1440
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=redis
CACHE_DRIVER=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=mail.shineeducationbali.com
MAIL_PORT=465
MAIL_USERNAME=no-reply@shineeducationbali.com
MAIL_PASSWORD=tqn0wft@nbp8wmt2VHZ
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="no-reply@shineeducationbali.com"
MAIL_FROM_NAME="${APP_NAME}"
MAIL_TO_FOUNDATION=yayasanpendidikangemilangbali@gmail.com

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"